* {
    box-sizing: border-box;
  }

.flex-container{
    background-image: url("../media/bg1jpg.jpg");
    display:flex;
    flex-wrap: wrap;
    max-width:100%;
    border:2px solid black;
}

#video-box , #content-box{
    position:relative;
    display: block;
    flex:48%;
    max-width:48%;
    height:250px;
    margin: 1%;
    border:1px solid black;

}

#video-box{
    background-color: black;
}

#content-box{
    background-color: white;
}

#hide-video{
    max-width:50%;
    position:relative;
    top:30%;
    left:30%; 
    height:70%;
}

#loading-bar{
    display:flex;
    flex-wrap: nowrap;
    max-width:100%;
    height:60px;
    border: 4px double white;
    border-radius: 25px;
    overflow: hidden;
}

span{
    flex:20%;
    max-width:20%;
    background-color: white;
    margin:0.5%;
}

#loading-text{
    color: whitesmoke;
    font-size: 2vw;
    max-width:100%;
    text-shadow: 4px 4px 4px white;
    font-family:monospace;
}

canvas{
    max-width:15%;
    height:30%; 
    border:2px solid white; 
    border-radius:50%; 
    margin:5%;
}

#show-video video{
    width:100%;
    height:250px;
}

#hide-content div{
    background-color:#f2f2f2;
    animation: blink 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#show-content div{
    color:black;
    font-size:1vw;
    font-family:cursive;
}

#hide-content div:first-child , #show-content div:first-child{
    position:absolute;
    top:5%;
    left:30%;
    width:30%;
    height:30px;
    border-radius:25px;
}

#hide-content div:nth-child(2), #show-content div:nth-child(2){
    position:absolute;
    top:30%;
    left:20%;
    width:60%;
    height:25px;
    border-radius:25px;
}

#hide-content div:nth-child(3), #show-content div:nth-child(3){
    position:absolute;
    top:50%;
    left:20%;
    width:60%;
    height:25px;
    border-radius:25px;
}

#hide-content div:nth-child(4), #show-content div:nth-child(4){
    position:absolute;
    top:70%;
    left:10%;
    width:30%;
    height:30px;
    border-radius:25px;
}

#hide-content div:nth-child(5), #show-content div:nth-child(5){
    position:absolute;
    top:70%;
    right:10%;
    width:30%;
    height:30px;
    border-radius:25px;
}

#toggle-btn{
    cursor: pointer;
    border:2px solid green;
    margin-top:2%;
    margin-left:40%;
    max-width:15%;
    height:120px;
    padding:2%; 
    font-size: 2vw;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    color:green;
}

#toggle-btn:hover{
    background-color: green;
    color: white;
}

@media only screen and  (max-width: 600px) {
    .flex-container #video-box , #content-box{
        flex:98%;
        max-width: 98%;
    }
    
}
